# Auto detect text files
* text=auto

# Force LF for backend code (recommended)
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Shell scripts
*.sh text eol=lf

# Windows scripts
*.cmd text eol=crlf
*.bat text eol=crlf

# Maven wrapper
/mvnw text eol=lf
/mvnw.cmd text eol=crlf